@model List<CarInsurance.Models.User>
@{
    ViewBag.Title = "Admin";
}

<h2>Users</h2>
@{ 
    foreach(var user in Model)
    {
    <h2><a href="/admin/details/@user.Id"> @user.FirstName @user.LastName </a> @user.EmailAddress @user.CarMake @user.CarModel @user.Quote</h2>
    }
}
<a href="/admin/add">Add</a>